.gradle

build
out/

.idea/

.terraform*
*terraform.tfstate*
*terraform.tfvars*
.DS_Store

deployment/assets/*.pem
bin/
*.class
.factorypath
.project
.classpath
.settings/
bin/

build/
private-jwk.json
